* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#play-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 80vw;
}

img {
  width: 10rem;
  place-self: center;
}