* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  margin: 5px;
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
}

.card,
.cover,
.face {
  height: 150px;
  width: 150px;
}

.face,
.cover {
  position: absolute;
  backface-visibility: hidden;
}

.cover {
  background: #fab942 url('./images/Q.png') no-repeat center center /
    contain;
}

.face {
  transform: rotateY(180deg);
  /* background-color: white; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match {
  transform: rotateY(180deg);
  transition: 0;
}